@import "tailwindcss";
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* Não será utilizado modo escuro por enquanto!! */
/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

/*AVISO - os dois blocos abaixo foram feitos pelo GPT*/
/* Remove as setas do input[type=number] no Chrome, Safari, Edge */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Remove as setas no Firefox */
input[type=number]{
  -moz-appearance: textfield;
}

input[type=submit]:hover, input[type=button]:hover{
  cursor:pointer;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  overflow-x: hidden;
}

input, select {
  border-color:gray;
  border-style:solid;
  border-width:1px;
  border-radius: 7px;
  height:40px;
  padding:5px;
  margin:10px;
}

input::placeholder{
  color:gainsboro(93, 109, 225);
}

.navbar-text{
  color: rgb(93, 109, 225);
  font-family:'Times New Roman', Times, serif;
  font-size:27px;
  transition: 0.25s;
}

.navbar-text:hover{
  color:rgb(47, 62, 188);
  text-decoration:underline;
}

.livroCat{
  padding:10px;
  height:300px;
  width:250px;
  border-style:solid;
  border-color:var(--color-gray-300);
  border-width:1px;
  border-radius:20px;
  display: relative;
  margin-left:10px;
  margin-top:10px;
  margin-left:10px;
  margin-bottom:10px;
  transition: 0.25s;
}

.livroCat:hover{
  background:rgba(0, 0, 0, 0.15);
  cursor:pointer;
}

.livroCat:hover .verDetalhes{
  opacity:1;
}

.verDetalhes{
  position:absolute;
  bottom:5px;
  right:15px;
  opacity:0;
  transition: 0.25s;
  cursor: pointer;
}
dd{
  overflow-wrap:anywhere;
}

dt, dd {
  display: inline-block;
}

dt {
  font-weight: bold;
}

dd.detalhe{
  font-size:30px;
  font-weight:bold;
}

dt.detalhe{
  font-size:35px;
  font-family: 'Times New Roman', Times, serif;
  color: rgb(93, 109, 225);
}

h1 {
  font-family: 'Times New Roman', Times, serif;
  text-align:center;
  font-size:40px;
  font-weight:bold;
  color:rgb(70, 83, 193);
  margin-block: 20px;
}